# Data files
data/
models/
mlruns/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
